body{
    font-family: Arial;
    font-size: 12px;
}
h1{
    font-size: 30px;
    text-align: center;
}
form{
    font-family: 'Times New Roman';
    margin: 0 auto;
    width: 350px;
    padding: 1em;
    background-color: rgb(243, 200, 61);    
    text-align: center;
}
input{
    width: 100px;
}
button{
    background: #4690FF;
    height: 30px;
    color: cornsilk;
    box-shadow: 8px 8px 8px black;
    border: none;
    border-radius: 15px;
}
label{
    width: 150px;
    display: inline-block;

}
p{
    text-align: center;
}

/* 28/09/2022 */
